<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://db:5432/lab1db</property>
        <property name="hibernate.connection.username">myuser</property>
        <property name="hibernate.connection.password">secret</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="org.example.lab1.entities.dao.Person"/>
        <mapping class="org.example.lab1.entities.dao.Coordinates"/>
        <mapping class="org.example.lab1.entities.dao.Location"/>
        <mapping class="org.example.lab1.entities.dao.ImportFile"/>

    </session-factory>
</hibernate-configuration>
