<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">
            org.infinispan.hibernate.cache.v62.InfinispanRegionFactory
        </property>
        <property name="hibernate.cache.infinispan.cfg">infinispan.xml</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="javax.persistence.sharedCache.mode">ENABLE_SELECTIVE</property>

        <property name="hibernate.jdbc.batch_size">100</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>

        <mapping class="org.example.lab1.entities.dao.Person"/>
        <mapping class="org.example.lab1.entities.dao.Coordinates"/>
        <mapping class="org.example.lab1.entities.dao.Location"/>
        <mapping class="org.example.lab1.entities.dao.ImportFile"/>

    </session-factory>
</hibernate-configuration>
